body.container-fluid {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}
section {
  margin: 50px 0px;
}
h1 {
  font-weight: 900;  
  color: #fff;
}
h2 {
  font-weight: 800;
  color: #0d0d0d;
}
.hero-img {
  background-image: url('../img/hero.jpg');
  background-position: center;
  height: 60vh;
}

.btn-primary {
  background-color: #1746B3;
  border: 0;
  font-weight: 300;
}

.opening__content {
  font-weight: 400;
  font-size: 14px;
}

.images {
  margin: 0;
}


@media only screen and (min-width: 992px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
}