body.container-fluid {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}
section {
  margin: 50px 0px;
}
h1 {
  font-weight: 900;  
  color: #fff;
}
h2 {
  font-weight: 800;
  color: #FF4821;
}
.hero-img {
  background-image: url('../img/hero.jpg');
  background-position: center;
  height: 60vh;
}

.btn-primary {
  background-color: #1746B3;
  border: 0;
  font-weight: 300;
}

.opening__content {
  font-weight: 400;
  font-size: 14px;
}

.images {
  margin: 0;
}

.portfolio .card-title {
  font-weight: 700;
  font-size: 30px;
  color: #1746B3;
}
.portfolio .card {
  border: 0;
}
.card__tag {
  font-weight: 300;
  font-size: 16px;
  background-color: #76B30E;
  padding: 5px 10px;
  color: #fff;

}
.card-body, .contact p {
  font-weight: 300;
  font-size: 16px;
  color: #0d0d0d;
}

.contact {
  background-color: #76B30E;
  background-position: center;
}
.contact .form-control {
  background-color: transparent;
  
  border: 0.5px solid #fff;
  color: #fff;
}
.contact .form-control::placeholder {
  color: #fff;
  opacity: 0.5;
}
.btn-send {
  background-color: #FF4821 !important;
  border: 0 !important;
}


@media only screen and (min-width: 992px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
}