body.container-fluid {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  background-color: #F9FAFB;
}
section {
  margin: 50px 0px;
}
h1 {
  font-weight: 900;  
  color: #fff;
}
h2 {
  font-weight: 800;
  color: #FF4821;
}

nav.navbar .nav-item a.nav-link {
  color: #FF4821;  
}
nav.navbar .nav-item a.nav-link:hover {
  color: #FF4821;
  opacity: 0.8;
}
.navbar-light .navbar-nav .active>.nav-link {
  background-color: #FF4821;
  color: #fff;
  opacity: 1;
}
.hero-img {
  background-image: url('../img/hero.jpg');
  background-position: center;
  height: 60vh;
}

.btn-primary {
  background-color: #1746B3;
  border: 0;
  font-weight: 300;
}

.opening__content {
  font-weight: 400;
  font-size: 14px;
}

.images {
  margin: 0;
}

.portfolio .card-title {
  font-weight: 700;
  font-size: 30px;
  color: #1746B3;
}
.portfolio .card {
  border: 0;
}
.card__tag {
  font-weight: 300;
  font-size: 16px;
  background-color: #76B30E;
  padding: 5px 10px;
  color: #fff;

}
.card-body, .contact p, footer p {
  font-weight: 300;
  font-size: 16px;
  color: #0d0d0d;
}

.contact {
  background-color: #17A7B3;
  background-position: center;
}
.contact .form-control {
  background-color: transparent;
  
  border: 0.5px solid #fff;
  color: #fff;
}
.contact .form-control::placeholder {
  color: #fff;
  opacity: 0.7;
}
.btn-send {
  background-color: #FF4821 !important;
  border: 0 !important;
}

footer h3 {
  color: #FF4821;
  font-weight: 600;
  font-size: 22px;
}
footer li {
  list-style: none;
  line-height: 30px;
}
.services__item a , .footer__contact-item a{
  font-weight: 300;
  font-size: 16px;
  color: #0d0d0d;
}

.footer__contact-item-icon img {
  max-width: 20px;
}


@media only screen and (min-width: 992px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
}